.topnav {
  background-color: teal;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
  font-size: 25px;
}

.topnav a:hover {
  background-color: #ceecf5;
  color: black;
}

.topnav a.active {
  background-color: #4caf50;
  color: white;
}

.topnav a.help {
  float: right;
}
