.margins {
  padding: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.topnav {
  flex-direction: row;
  display: flex;
  font-size: 15px;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  overflow: hidden;
  line-height: 1.78px;
  padding: 0px 0px 30px 0px;
}
.navItemLeft {
  border-bottom: 3px solid black;
  display: flex;
  width: fit-content;
}
.navItemRight {
  margin-left: auto;
}
.navItem > a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 64px;
  text-decoration: none;
  font-size: 18px;
}
.topnav a:hover {
  color: black;
}
.topnav a.help {
  float: right;
}
.buttons {
  padding: 0px 0px 30px 0px;
}
button {
  border-radius: 4px;
  border: solid 1px #000000;
  font-size: 15px;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 8px 24px;
  outline: none;
  margin-right: 18px;
}
button[disabled] {
  opacity: 0.25;
}

.modal {
  display: none;
  height: 200px;
  width: 400px;
  background-color: #ffffff;
  color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal.active {
  display: block;
  z-index: 100;
}
.backdrop {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  background-color: #00000080;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.backdrop.active {
  display: block;
}
.button {
  border-radius: 4px;
  border: solid 1px #000000;
  font-size: 15px;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  padding: 8px 24px;
  outline: none;
  margin-top: 30px;
  margin-left: 80px;
}
.modal {
  border: solid 1px #000000;
  border-radius: 8px;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
p {
  font-size: 20px;
  text-align: center;
  margin-top: 40px;
}
.paragraph {
  font-size: 13px;
  text-align: center;
  margin-top: 30px;
}
